* {
    box-sizing: border-box;
}

body {
    background-color: rgba(99, 100, 455, 0.5);
}

header {
    background-color: rgba(99, 100, 400, 0.5);
    padding: 0.5em;
    text-align: center;
}

img.big-image {
    margin: 2% auto;
}

h2 {
    color: #000;
}

.back {
    border-radius: 8px;
}

#btn {
    border-radius: 8px;
}

/* nav */
nav {
    padding: 10px;
    background-color: navy;
}

nav li {
    list-style: none;
    display: inline;
}

nav li a {
    padding: 10px;
    color: white;
    text-decoration: navy;
}

#zones li {
    list-style: none;
    padding: 7px
}

#zones li a {
    text-decoration: #000;
    font-size: 20px;
}

#zones li a:hover {
    background-color:#fff;
    color: white;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 0 19px;
}

/* Houses */

footer {
    background-color:navy;
    color: white;
    text-align: center;
    padding: 10px;
}

footer h2 {
    color: white;
}

input {
    border: 2px solid blue;
    width: 80%;
    padding:5px;
    margin: 1px 8px;
    border-radius: 8px;
}

.reg {
    color: #fff;
    margin-left: 8px;
}

.by-area {
    margin-left: 8px;
}

.primary {
    width: 80%;
}

button {
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 15px;
}

button:hover {
    border: 2px solid green;
    transform: scale(1.5);
}

h2.by-area  {
    color: #000;
}

.cols {
    display: flex;
}

#side {
    width: 25%;
    background-color: rgba(0, 0, 455, 0.5);
    margin: 5px;
    border-radius: 8px;
}

.skuls li {
    list-style: none;
}

#houses {
    display: flex;
    flex-wrap: wrap;
}

#houses-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.box {
    width: 100%;
    border-radius: 8px;
}

.bigger-text {
    font-size: 20px;
}

.big-image {
    width: 70%;
    height: 500px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;
}

/* Skul Div */
.own-div img {
    width: 80%;
    border-radius: 8px;
    /* margin: auto; */
}
.own-div {
    width: 40%;
    min-width: 200px;
    box-shadow: 5px 5px 5px grey;
    height: fit-content;
    margin: 2% auto;
}

.skul-div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* width: 90%; */
}

.box:hover {
    border: 4px solid blue;
    cursor: pointer;
}

a.skul {
    text-decoration: none;
}
a.skul:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid grey;
    border-radius: 8px;
    padding: 0 19px;
}

.bold-text {
    font-weight: 800;
    text-transform: capitalize;
}

.prop-text {
    line-height: 40px;
    padding: 0.5em;
}

#before {
    text-align: center;
    width: 70%;
    margin: 2em auto;
    font-size: 1.3em;
    line-height: 1.7em;
}

.italize-text {
    font-style: italic;
    color: white;
}

.colored-text {
    font-weight: 700;
    color: green;
}

.hide {
    display: none;
}

.name {
    font-size: 3em;
    padding: 0 5em 0 0;
}


.pep {
    font-size: 1.3em;
}

 @media screen and (min-width: 900px) {
     #houses-container {
         display: flex;
     }

     .image-box {
        background-color: rgba(0, 100, 455, 0.5);
        color: white;
        width: 30%;
        height: fit-content;
        margin: 2em auto;
        padding: 0.5em;
        border-radius: 10px;
        box-shadow: 5px 5px 10px grey;
    }
}


 @media screen and (max-width: 899px) {
     #houses-container {
         display: flex;
         width: 100%;
         padding: 0.5em 0;
         margin: auto;
     }

     #content {
        width: 100%;
        padding-left: 1.5em;
        margin: auto;
    }

     .image-box {
        background-color: rgba(0, 100, 455, 0.5);
        color: white;
        width: 45%;
        height: fit-content;
        margin: 0.5em auto;
        padding: 0.5em;
        border-radius: 10px;
        box-shadow: 5px 5px 10px grey;
    }
}

 @media screen and (max-width: 600px) {
     #houses-container {
         display: flex;
         width: 100%;
         padding: 0.5em 0;
     }

     #content {
        width: 100%;
        padding-left: 1.5em 0;
        margin: auto;
    }

    p.pep {
        font-size: 18px;
    }

    .big-image {
        width: 100%;
        height: auto;
    }

     .image-box {
        background-color: rgba(0, 100, 455, 0.5);
        color: white;
        width: 90%;
        height: fit-content;
        margin: 2em auto;
        padding: 0.5em;
        border-radius: 10px;
        box-shadow: 5px 5px 10px grey;
    }
}